*.class
*.log
dependency-reduced-pom.xml
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/*
target/
*.jar
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
*.iml
metastore_db/
spark-warehouse/
